* {
  box-sizing: border-box;
}

body, #root {
  width: 100%;
  height: 100vh;
}

a {
  color: #fff;
  text-decoration: none;
}

.home {
  background: linear-gradient(180deg, #12122e 0%, #272764 100%);
  line-height: 38px;
  font-weight: 600;
  font-size: 1.125rem;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  display: flex;
  width: 100%;
  padding: 20px 40px;
}

.header-container .menu {
  display: flex;
  justify-content: center;
  flex: 1;
}

.menu .menu-links a {
  margin: 12px;
  color: #fff;
  text-decoration: none;
}

button {
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
}

button.primary {
  color: white;
  background: linear-gradient(#30bddc 0%, #5189e1 100%);
}

span.highlighted {
  background: linear-gradient(#30bddc 0%, #5189e1 100%);
  border-radius: 5px;
  padding: 0 10px;
}

.hero-section-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-self: flex-end;
  font-weight: 500;
  line-height: 38px; 
  width: 95%;
}

@media only screen and (max-width: 768px) {
  .hero-section-container {
    flex-direction: column;
    line-height: normal;
  }

  .hero-section-container .hero-info-wrapper .hero-info-container {
    font-size: 24px;
    line-height: normal;
  }

  .search-input-wrapper {
    padding: 5px;
  }

  .search-container .search-btn {
    padding: 5px;
  }

  .hero-image-container img {
    width: 100%;
  }
}

.hero-section-container .hero-info-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-basis: 47%;
}

.hero-section-container .hero-info-text h1 {
  font-weight: 700;
  font-size: 5rem;
  line-height: 95px;
}

p {
  color: #9f9fc8;
  font-size: 1.5rem;
}

.hero-section-container .hero-info-text .hero-info-description {
  margin-bottom: 10px;
}

.hero-image-container .hero-image {
  width: 712px;
  height: 729px;
  object-fit: cover;
  margin-top: 11px;
  margin-bottom: 9px;
}

.search-container {
  color: #9f9fc8;
  background-color: #24245d;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 29px;
  margin-top: 3px;
}

.search-container .search-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  padding: 15px;
}

.search-container .search-input {
  font-size: 1.125rem;
  width: 100%;
  height: 100%;
  font-weight: 400;
  line-height: 29px;
  font-family: 'Outfit';
  border: none;
  background-color: transparent;
  color: #9f9fc8;
}

.search-input::placeholder {
  color: #9f9fc8;
}

.search-container .search-btn {
  display: flex;
  flex-direction: row;
  flex-basis: 35%;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 30px;
  padding: 15px;
  border-radius: 5px;
}